@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@layer components {
  
  .nav-btn {
    @apply border border-transparent px-3 py-2 rounded-full hover:bg-[#ededed8d] hover:backdrop-blur-md hover:border-gray-400 transition-all duration-300;
  }
  .hero-links{
    @apply w-full cursor-pointer py-3 px-9 font-semibold border-2 bg-white border-gray-200 rounded-[20px] flex gap-2 items-center justify-center hover:shadow-md backdrop-blur-md hover:border-black hover:text-white hover:bg-[#181717] transition-all duration-300;  
  }
  .gradient-text{
    @apply text-transparent bg-clip-text bg-[linear-gradient(90deg,#0096FF_0%,#BB64FF_35%,#F2416B_70%,#EB7500_100%)];
  }
}